
body {
    background: url("flag.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#root{
    background:white;
    border: 2px solid black; 
    width: 75%; 
    min-width: 500px;
    position: relative;
}

p {
    color: black;

}


h1{
    text-align: center;
    color: red;
}

h3{
    text-align: center;
    color: red;
}

.comment-btn,
.search-btn{
    border-radius: 20px;
    margin: 20px;
}

.btn-link{
    cursor: pointer;
}