
body{
    background-color: #ffffcc;
}

label{
    font-size: 20px;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
    color: red;
}

.comment-btn{
    position: static;
    right: 0;
    bottom: 0;
    margin: 20px;
    display: inline-block;
    border-radius: 20px;
}