
body{
    background-image: url("flag.png");
}

#style{
    background: white;
}

p {
    color: black;
    font-size: 20px;
}

label{
    font-size: 20px;
    background-color: white;
}

h1{
    text-align: center;
    color: red;
}

h3{
    text-align: center;
    color: red;
}

.comment-btn{
    position: static;
    right: 0;
    bottom: 0;
    margin: 20px;
    display: inline-block;
    border-radius: 20px;
}